* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 100%;
    height: 100vh;
    border-bottom: 10px solid green; /* Reduzi a borda para melhorar a aparência em telas menores */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

button {
    background: green;
    color: white;
    font-weight: bold;
    font-size: 1.2rem; /* Reduzi o tamanho da fonte para telas menores */
    border: none;
    padding: 0.8rem; /* Reduzi o padding para telas menores */
    position: absolute;
    right: 10%;
    top: 80%; /* Ajustei a posição para telas menores */
    cursor: pointer;
    z-index: 1;
}

button:hover {
    border: 2px solid green;
    background: none;
    color: green;
}

.game-over {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.322);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.game-over h1 {
    font-size: 2rem; /* Reduzi o tamanho da fonte para telas menores */
    color: red;
    text-align: center;
    margin-top: 10rem; /* Ajustei a margem para telas menores */
}

.pipe {
    position: absolute;
    bottom: 0;
    right: -40px; /* Reduzi o deslocamento para telas menores */
    width: 40px; /* Reduzi a largura para telas menores */
}

.mario {
    width: 80px; /* Reduzi o tamanho para telas menores */
    position: absolute;
    bottom: 0;
}

.clouds {
    width: 300px; /* Reduzi a largura para telas menores */
    position: absolute;
    top: 0;
    animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -300px; /* Ajustei o valor para a nova largura */
    }
    to {
        right: 100%;
    }
}

.pipe-animation {
    animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -40px; /* Ajustei o valor para a nova largura */
    }

    to {
        right: 100%;
    }
}

.jump {
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 100px; /* Ajustei a altura do salto para telas menores */
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}
