* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game {
    width: 100%;
    height: 100vh;
    border-bottom: 10px solid green; 
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background: green;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    z-index: 1;
    margin-top: 1rem; /* Adicionei um espaço acima do botão */
}

button:hover {
    border: 2px solid green;
    background: none;
    color: green;
}

.game-over {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.322);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-over h1 {
    font-size: 2rem;
    color: red;
    text-align: center;
    margin-top: 1rem; /* Adicionei um espaço acima do texto */
}

.pipe {
    position: absolute;
    bottom: 0;
    right: -40px;
    width: 40px;
}

.mario {
    width: 80px;
    position: absolute;
    bottom: 0;
}

.clouds {
    width: 300px;
    position: absolute;
    top: 0;
    animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -300px;
    }
    to {
        right: 100%;
    }
}

.pipe-animation {
    animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -40px;
    }

    to {
        right: 100%;
    }
}

.jump {
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 100px;
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}
